body {
  background: #2c3e50;
  font-family: system-ui, -apple-system, sans-serif;
  color: white;
}

.main-title {
  text-align: center;
}

.home-post {
  border: 2px solid tomato;
  padding: 0.4rem;
  margin: 1rem 0;
}

.home-post h1 {
  color: rgb(14, 101, 222);
}

.custom-title {
  color: rgb(176, 120, 16);
  text-align: center;
}

.photo {
  width: 200px;
}

.flex {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#contenedor {
  align-self: center;
  max-width: 200px;
  height: 100px;
  margin-top: 1rem;
  background-color: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

#boton {
  align-self: center;
  max-width: 150px;
  padding: 10px;
  border: none;
  background-color: navy;
  color: white;
  cursor: pointer;
}